#link{
    color:white;
}
#contenedor{
    background-color: whitesmoke;
    font-family: 'Lobster', cursive;
}
#header{
    display: block;
    height: 153px;
    width: 100%;
    font-size: 18px;
    background-color: red;
    
}
#menuSecundario{
    display: block;
    float: right;
    height: 45px;
    width: 100%;
    background-color: white;
}
#orden{
    width: 70%;
    float: right;
}
#inicioSesion{
    margin-top: 10px;
    width: 15%;
    float: right;
}
#registroUsuario{
    margin-top: 10px;
    width: 15%;
    float: right;
}
#menuTop{
    background-color: darkblue;
    height:108px;
    width:100%;
    float: left;
}
#logo{
     height: 108px;
     width:30%;
     position: relative;
     text-align: center;
     margin-top: 20px;
     color: white;
     font-family: 'Lobster', cursive;
     font-size: 40px;
}
#navegador{
    height: 45px;
    width:100%;
    background-color: lightskyblue;
}
#botonMenu{
    height: 45px;
    width:50%;
    float: left;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 18px;
}
#principal{
    height: 400px;
    width: 100%;
    display: block;
}
#piePagina{
    display: block;
    float: end;
    height: 45px;
    width: 100%;
    background-color: #2aabd2;
    color: white;
    text-align: center;
}




.body {
              padding-top: 40px;
              padding-bottom: 40px;
              background-color: rgb(235, 235, 235);
            }

            .form-signin {
              max-width: 330px;
              padding: 15px;
              margin: 0 auto;
            }
            .form-signin .form-signin-heading,
            .form-signin .checkbox {
              align-content: center;
              margin-bottom: 10px;
            }
            .form-signin .checkbox {
              font-weight: normal;
            }
            .form-signin .form-control {
              position: relative;
              height: auto;
              -webkit-box-sizing: border-box;
                 -moz-box-sizing: border-box;
                      box-sizing: border-box;
              padding: 10px;
              font-size: 16px;
            }
            .form-signin .form-control:focus {
              z-index: 2;
            }
            .form-signin input[type="user"] {
              margin-bottom: -1px;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
            }
            .form-signin input[type="password"] {
              margin-bottom: 10px;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            }
